# Variables set in here are picked up by docker-compose automatically

TOMCAT_PORT=8081
# SERVICE_PROTOCOL is the protocol used to access the service from the client:
# "http" or "https"
SERVICE_PROTOCOL=http

# SERVICE_DOMAIN is the domain that the deployment is accessed through. The
# fake FQDN "host.docker.internal" will work in Windows Docker Desktop deployments.
# See the README for other options.
SERVICE_DOMAIN=host.docker.internal

# SERVICE_PORT is the port used by the client to access the service.  If the
# client is accessing the embedded reverse proxy directly then this should be
# the same as the PROXY_EXTERNAL_PORT. If the client is going via another
# reverse proxy then this should be the port that proxy listens on (e.g. 443).
SERVICE_PORT=8089

# PROXY_EXTERNAL_PORT is the port that the reverse proxy is going to listen on.
# If there are multiple deployments on the same machine then they all need
# different PROXY_EXTERNAL_PORT settings.
PROXY_EXTERNAL_PORT=8089

# If an external keycloak service is being used, rather than the built-in one
# then the URL needs defining here, e.g. https://keycloak.example.com/auth/
#EXTERNAL_KEYCLOAK_AUTH_SERVER_URL=https://.../auth

# Set this if an external keycloak service is being used, and the realm name
# is different to the default value of 'ssm-realm'.
#KEYCLOAK_REALM=ssm-realm

# Set this if the name of the Spyderisk client in the Keycloak realm has a
# different value  than the default value of 'system-modeller'.
#KEYCLOAK_RESOURCE=system-modeller

# Secret shared for communication between SPYDERISK and Keycloak services
# The docker-compose.yml file demonstrates how to insert the value into the
# Keycloak configuration
KEYCLOAK_CREDENTIALS_SECRET=DfkQBcVpjbO6gTMXMBUBfHe45UmFhGxk

# Keycloak admin credentials for creating the insecure built-in keycloak service
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=password

# Location of the SPYDERISK System Modeller documentation to be used in the web application:
DOCUMENTATION_URL=https://spyderisk.org/documentation/modeller/latest/

# Docker Version of SPYDERISK System Modeller to use
SPYDERISK_VERSION=dev-20250404T1230

# Docker Version of SPYDERISK System Modeller Adaptor to use
SPYDERISK_ADAPTOR_VERSION=dev-20250429T1059

# Flag to display EULA
DISPLAY_EULA=false

# EULA html
EULA_HTML=<p>The Spyderisk software is open source, licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a></p>

# SSM-Adaptor Configuration Variables
#
PROJECT_NAME=SSM Adaptor Microservice

# Adaptor mode: values [All, ProTego, FogProtect]
SSM_ADAPTOR_MODE=all

# APP ROOT_PATH e.g. Proxy URL in WebServer config
ROOT_PATH=/system-modeller/adaptor

# SSM Service URL
SSM_URL=http://proxy:80/system-modeller

# mongo db
#MONGO_HOST=mongo

# data/log folders
DATA_FOLDER=/data
LOG_FOLDER=/logs

# External services configuration parameters
#UDE_SERVICE_URL=
#OUTBOUND_REQUEST_TIMEOUT=30

# KAFKA parameters
KAFKA_ENABLED=False
#KAFKA_SERVICE_URL=<kafka-url:30388>
#KAFKA_TOPIC_NAME=ssm

# POLLING DELAYS
POLLING_DELAY_1=4
POLLING_DELAY_2=2

# LOG Info, default console
#LOGFILE=ssm_adaptor.log
#LOGGING_LEVEL=DEBUG

# Other parameters
# Use MAX_RISKS to limit the returned risk (misbehaviour) data items (-1 represents unlimited)
MAX_RISKS=10

# Value to return in risks response to indicate acceptable risk value
ACCEPTABLE_RISK_LEVEL=Medium

# Normally we filter out low-level risks (misbehaviours) from results
FILTER_LOW_LEVEL_RISKS=TRUE

# Fogprotect parameters
GET_ASSET_METADATA_FROM_VULN=TRUE
FP_DISABLEMENT_CONTROL=DisabledDataFlow

# Risk calc default mode (CURRENT/FUTURE)
RISK_CALC_MODE=CURRENT

# Cyberkit4SME parameters
OPENVAS_REPORT_FILE_LOCATION=/code/tmp

# Max number of threats to exploit for recommendations
MAX_THREATS=10

# Domain model version number: values [4, 5]
DOMAIN_MODEL_VERSION=5

